.signup-container {
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.signup-box {
  width: 450px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-box h2 {
  margin-bottom: 20px;
}

.signup-box input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
}

.signup-box button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.signup-box button:hover {
  background: #0056b3;
}

.link {
  margin-top: 15px;
  font-size: 14px;
}

.link a {
  text-decoration: none;
  color: #007bff;
}
.image {
  width: 60px;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
  margin: 10px;
}
h2 {
  margin-left: 20px;
}
