.upload-container {
  padding: 50px 20px;
  background: #f4f8ff;
  min-height: 63vh;
  text-align: center;
}

.upload-title {
  font-size: 32px;
  font-weight: 700;
  color: #1d3557;
}

.upload-subtitle {
  font-size: 17px;
  color: #555;
  margin-bottom: 30px;
}

.upload-box {
  max-width: 450px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.upload-label {
  display: block;
  padding: 15px;
  border: 2px dashed #3a86ff;
  border-radius: 8px;
  color: #3a86ff;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}

.upload-label input {
  display: none;
}

.file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.video-preview {
  width: 100%;
  margin: 15px 0;
  border-radius: 10px;
}

.upload-btn {
  width: 100%;
  padding: 12px;
  background: #3a86ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.upload-btn:hover {
  background: #2f6ad8;
}
